
# Robot-T430 Card Reader Settings
# (C) 2025, Radical Electronic Systems

# http://www.radicalsystems.co.za info@radicalsystems.co.za



# Application Settings

 CARDWS_SVR_ENABLED=TRUE
 CARDWS_SVR_FOREIGN=TRUE
 CARDWS_SVR_WPORT=8100
 CARDWS_OUTPUT_FORMAT=[CARD]:%s
 CARDWS_SVR_SPORT=ttyS0
 CARDWS_CARD_SHORT=TRUE

